
# Setup Logging persistent data
on property:persist.brcm.log=sdcard
	write /sys/class/bcm_log/bcm_log/log_lock 0
	write /sys/class/bcm_log/bcm_log/log sdcard
	write /sys/class/bcm_log/bcm_log/log_lock 1
on property:persist.brcm.log=uart
	write /sys/class/bcm_log/bcm_log/log_lock 0
	write /sys/class/bcm_log/bcm_log/log uart
	write /sys/class/bcm_log/bcm_log/log_lock 1
on property:persist.brcm.log=stm
	write /sys/class/bcm_log/bcm_log/log_lock 0
	write /sys/class/bcm_log/bcm_log/log stm
	write /sys/class/bcm_log/bcm_log/log_lock 1
on property:persist.brcm.log=rndis
	write /sys/class/bcm_log/bcm_log/log_lock 0
	write /sys/class/bcm_log/bcm_log/log rndis
	write /sys/class/bcm_log/bcm_log/log_lock 1
on property:persist.brcm.log=acm
	write /sys/class/bcm_log/bcm_log/log_lock 0
	write /sys/class/bcm_log/bcm_log/log acm
	write /sys/class/bcm_log/bcm_log/log_lock 1

on property:persist.brcm.cp_crash=auto
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
on property:persist.brcm.cp_crash=sdcard
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash sdcard
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1
on property:persist.brcm.cp_crash=uart
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash uart
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1
on property:persist.brcm.cp_crash=stm
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash stm
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1
on property:persist.brcm.cp_crash=rndis
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash rndis
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1
on property:persist.brcm.cp_crash=acm
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash acm
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1
on property:persist.brcm.cp_crash=panic
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 0
	write /sys/class/bcm_log/bcm_log/cp_crash panic
	write /sys/class/bcm_log/bcm_log/cp_crash_lock 1

on property:persist.brcm.ap_crash=auto
	write /sys/class/bcm_log/bcm_log/ap_crash_lock 0
on property:persist.brcm.ap_crash=stm
	write /sys/class/bcm_log/bcm_log/ap_crash_lock 0
	write /sys/class/bcm_log/bcm_log/ap_crash stm
	write /sys/class/bcm_log/bcm_log/ap_crash_lock 1
on property:persist.brcm.ap_crash=panic
	write /sys/class/bcm_log/bcm_log/ap_crash_lock 0
	write /sys/class/bcm_log/bcm_log/ap_crash panic
	write /sys/class/bcm_log/bcm_log/ap_crash_lock 1
